/*General Styling*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: Montserrat;
}
.bg{ 
    background-color: #222831; /*Background color*/
}
/*Card Styling*/
.card-bg {
    background-color: #393E46;
}
.card-head {
    color: #00ADB5;
}
.card-text {
    color: #EEEEEE;
}